*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.tox-statusbar {
  display: none !important;
}

// html {
//   overflow-y: scroll;
//   scrollbar-gutter: stable;  
// }